# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json.*

# Compilação / Build
dist/
build/
out/

# Testes
coverage/
*.lcov
.jest/

# Ambiente
.env
.env.* 
!.env.example

# Editor / Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Husky (git hooks)
.husky/_/